body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --body-text: #434455;
  --background-color: #ffffff;
  --link-ocean: #404bbf;
  --main-link: #2e2f42;
  --porfolio-btn: #e7e9fc;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* studio */
.logoweb {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  display: block;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--background-color);
}
/* header, webstudio*/

.primary-header {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* logo webstudio*/

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo-web {
  color: var(--main-link);
}
/* menu list*/

.main-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.alert {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-link);
  padding: 24px 0 24px;
}

.alert:hover,
.alert:focus {
  color: var(--link-ocean);
}

/* menu contacts*/

.main-contacts {
  display: flex;
  gap: 40px;
  margin: 0;
  align-items: center;
}

.sections-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.sections-contact:hover,
.sections-contact:focus {
  color: var(--link-ocean);
}

/* main page button*/

.main-page {
  background-color: var(--main-link);
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
}

.hero-text {
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 496px;
  margin-bottom: 48px;
  margin-top: 0;
  align-items: center;
}

.button-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  border-radius: 4px;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  display: block;
}

.flex-btn {
  display: flex;
  justify-content: center;
}
.button-order:hover,
.button-order:focus {
  background-color: var(--link-ocean);
}
/* seconadry section*/

.seconadry-section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.section-two {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-link);
  margin-bottom: 8px;
  margin-top: 0;
}

.desc {
  flex-basis: calc((100% - 72px) / 4);
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex-basis: calc((100% - 72px) / 4);
  margin: 0;
}

.primary-desc {
  display: flex;
  gap: 24px;

  padding-left: 0;
}
/* 3 section*/
.doing {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 0;
}
.picture {
  padding-bottom: 120px;
  padding-top: 120px;
}
.imge {
  flex-basis: calc((100% - 3 * 16px) / 3);
  height: auto;
}
.pic {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 16px) / 3);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 120px;
}
img {
  display: block;
}
/* 4 section*/
.our-team {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  margin-top: 0;
}
.back-team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.staff {
  display: flex;
  gap: 24px;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.names {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
.row {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.optinal-row {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}
.last-row {
  text-align: center;
}
.back {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
/* footer*/

.end {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0;
}
.logotype {
  display: inline-block;
  margin: 0;
}

.end-margin {
  display: inline-block;
  margin-bottom: 17.5px;
}

.text-end {
  line-height: 1.5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}
.logo_end {
  color: #f4f4fd;
}

/* Portfolio */
.rest-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--porfolio-btn);
}

.container-prtheader {
  align-items: center;
  display: flex;
  padding-bottom: 96px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.rest-button:hover,
.rest-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.all-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
}

/* Photo */

.features {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.features-list {
  width: calc((100% - 48px) / 3);
}
.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
